body {
	background: #9b9bf8;
	color: #fdf3f3;
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.movie-app > .row {
	overflow-x: auto;
	white-space: nowrap; /* Prevent text wrapping */
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

/* Update the overlay text color and background color */
.overlay {
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
}

/* Change the background color for the hover effect */
.image-container:hover .overlay {
	background: rgba(0, 0, 0, 0.9);
}
